@import "./map.css";
@import "./side-bar.css";

#main-item1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 0.5rem 1.8rem;
}

#main-item2 {
    display: flex;
    flex-direction: column; 
    padding: 0.5rem 3rem;
}

@media (width >= 1608px) {
    #main-item2 {
        align-items: center;
    }
}

#map-goals ul {
    padding-left: 3rem;
}

#map-goals p {
    padding: 0.5rem;
}

#map-goals a {
    color: #00a542;
}

#new-map-points table {
    display: block;
    overflow: auto;
    max-width: 100%;
}

#new-map-points caption {
    text-align: left;
}

#new-map-points h1 {
    color: #00a542;
    padding: 0.5rem;
}

#new-map-points thead td {
    background-color: #e4efcd;
    font-weight: bold;
    color: #1fa500;
    padding: 0.5rem;
}

#new-map-points-table-body td {
    padding: 0.3rem;
}

.trash-point-name, .volunteer-name {
    color: #00a542;
    text-decoration: underline;
}
