* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

header h1 {
    color: #00a542;
    padding-bottom: 0.8rem;
}

@media (width <= 1048px) {
    header {
        flex-direction: column;
    }
}

footer {
    display: flex;
    align-items: center;
    background-image: url("../img/footer-background.gif");
    color: white;
    padding: 1.5rem;
    min-height: 5rem;
}

#footer-era-link {
    color: #fff8ac;
}

footer p {
    padding: 0.2rem 0;
}

#map-area {
    width: 99wv;
}

#map {
    height: 30rem;
}

#main-item1, #main-item2 {
    padding: 0.5rem 3rem;
}

#searchpoint-item {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-right: 1rem;
}

#searchpoint_button {
    padding: 0.1rem;
}

#map-goals ul {
    padding-left: 3rem;
}

#map-goals p {
    padding: 0.5rem;
}

#map-goals a {
    color: #00a542;
}

#new-map-points caption {
    text-align: left;
}

#new-map-points h1 {
    color: #00a542;
    padding: 0.5rem;
}

#new-map-points table {
    display: block;
    overflow: auto;
    max-width: 100%;
}

#new-map-points thead td {
    background-color: #e4efcd;
    font-weight: bold;
    color: #1fa500;
    padding: 0.5rem;
}

#new-map-points-table-body td {
    padding: 0.3rem;
}

.trash-point-name, .volunteer-name {
    color: #00a542;
    text-decoration: underline;
}

.balloon-footer-detail {
    color: #00a542;
    text-decoration: underline;
}
