* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

header h1 {
    color: #00a542;
    padding-bottom: 0.8rem;
}

footer {
    display: flex;
    align-items: center;
    background-image: url("../img/footer-background.gif");
    color: white;
    padding: 1.5rem;
    min-height: 5rem;
}

#footer-era-link {
    color: #fff8ac;
}

footer p {
    padding: 0.2rem 0;
}

#map-area {
    width: 80%;
    order: 2;
}

@media (width <= 1434px) {
    #map-area {
        width: 95%;
    }
}

#map {
    height: 30rem;
}

#side-bar {
    order: 1;
}

#main-item1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 0.5rem 1.8rem;
}

#auth-form {
    width: 15rem;
}

#e-mail, #password {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login {
    background-color: #04AA6D;
    color: white;
    padding: 0.9rem;
    margin: 0.5rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#auth-with-vk-button {
    background: none;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

#auth-with-vk-button img {
    width: 32px;
    height: 32px;
}

#auth-with-vk-item, #signup-or-reset-password-item {
    text-align: right;
}

#signup-or-reset-password-item a {
    color: #00a542
}

#add-trash-point button {
    background-color: #04AA6D;
    color: white;
    padding: 0.9rem;
    margin: 0.5rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

#trash-category div, #trash-status div {
    padding: 0.3rem 0;
}

#trash-category label, #trash-status label {
    margin-left: 0.3rem;
}

#trash-status {
    margin: 1rem 0 0.5rem 0;
}

#refresh-map-button {
    background-color: #04AA6D;
    color: white;
    padding: 0.9rem;
    border: none;
    cursor: pointer;
    border-radius: 50px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

#total-trash-points {
    color: white;
    padding: 0.4rem 3rem;
    margin: 0.5rem 0;
    background: black;
    box-shadow: 0 0 15px 18px orange inset;
    font-weight: bold;
    font-size: x-large;
}

#total-trash-points-item {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#side-bar > div {
    margin: 1rem 0;
}

#main-item2 {
    padding: 0.5rem 3rem;
}

#searchpoint-item {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-right: 1rem;
}

#searchpoint_button {
    padding: 0.1rem;
}

#map-goals ul {
    padding-left: 3rem;
}

#map-goals p {
    padding: 0.5rem;
}

#map-goals a {
    color: #00a542;
}

#new-map-points caption {
    text-align: left;
}

#new-map-points h1 {
    color: #00a542;
    padding: 0.5rem;
}

#new-map-points table {
    display: block;
    overflow: auto;
    max-width: 100%;
}

#new-map-points thead td {
    background-color: #e4efcd;
    font-weight: bold;
    color: #1fa500;
    padding: 0.5rem;
}

#new-map-points-table-body td {
    padding: 0.3rem;
}

.trash-point-name, .volunteer-name {
    color: #00a542;
    text-decoration: underline;
}

.balloon-footer-detail {
    color: #00a542;
    text-decoration: underline;
}
