@import "./side-bar-auth-form.css";
@import "./variables.css";

#side-bar {
    order: 1;
    width: 15rem;
}

#side-bar > div {
    margin: 1rem 0;
}

#trash-category div, #trash-status div {
    padding: 0.3rem 0;
}

#trash-category label, #trash-status label {
    margin-left: 0.3rem;
}

#trash-status {
    margin: 1rem 0 0.5rem 0;
}

#refresh-map-button, #add-trash-point button {
    background-color: var(--green-primary-color);
    color: white;
    padding: 0.9rem;
    border: none;
    cursor: pointer;
    border-radius: 50px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

#add-trash-point button {
    margin: 0.5rem 0;
    width: 100%;
}

#total-trash-points-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#total-trash-points {
    color: white;
    padding: 0.4rem 3rem;
    margin: 0.5rem 0;
    background: black;
    box-shadow: 0 0 15px 18px orange inset;
    font-weight: bold;
    font-size: x-large;
}
